body{
    background-color: aquamarine;
}
button img{
    border-radius: 50%;
    height:100px;
    width: 100px;
}
button {
    background: transparent;
    border: transparent;
}

table th{
    background-color: blueviolet;
}
table td{
    background-color: wheat;
}
#reset-img{
    height:50px;
    width: 50px;
}
#buttons-container{
   display: flex;
   justify-content: center;
}
#game-summary-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
 }